{% extends "base.html" %}

{% load static %}

{% block title %}
About Us
{% endblock title %}

    <!-- end slider section -->

  <!-- service section -->

  {% block header %}
  
{% include "nav.html" %}
  
  
  {% endblock header %}

  {% block mainBody %}
  <!-- about section -->
  
  <section class="about_section layout_padding-bottom">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About Us
              </h2>
            </div>
            <p>
              At MG Fitness, our mission is to empower and inspire individuals of all fitness levels to lead healthier lives. We believe that fitness is not just about looking good, but about feeling strong, confident, and full of vitality. We are here to provide you with the tools, knowledge, and support to make your fitness aspirations a reality.</p>
            {% comment %} <a href="/about">
              Read More
            </a> {% endcomment %}
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="/static/images/indoorBike.png" alt="">
          </div>
        </div>

      </div>
    </div>
  </section>




  <section class="service_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Why join us ?
        </h2>
      </div>
    </div>
    <div class="container ">
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="box ">
            <div class="img-box">
              <img src="/static/images/s1.png" alt="">
            </div>
            <div class="detail-box">
              <h4>
                Modern tools
              </h4>
              <p>
                We have all the modern necessary tools available.
              </p>
              <a href="">
                Read More
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>

              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="box ">
            <div class="img-box">
              <img src="/static/images/s2.png" alt="">
            </div>
            <div class="detail-box">
              <h4>
                Dedicated sessions for women
              </h4>
              <p>
                We provide dedicated sessions for women at noon everyday.
              </p>
              <a href="">
                Read More
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>

              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 ">
          <div class="box ">
            <div class="img-box">
              <img src="/static/images/s3.png" alt="">
            </div>
            <div class="detail-box">
              <h4>
                Experienced trainer
              </h4>
              <p>
                Here at MG Fitness you are gonna get experienced trainers for your growth.
              </p>
              <a href="">
                Read More
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>

              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="box ">
            <div class="img-box">
              <img src="/static/images/s4.png" alt="">
            </div>
            <div class="detail-box">
              <h4>
                Air conditioning
              </h4>
              <p>
                We have fully air conditioned training and body building campus.
              </p>
              <a href="">
                Read More
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>

              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="box ">
            <div class="img-box">
              <img src="/static/images/s5.png" alt="">
            </div>
            <div class="detail-box">
              <h4>
                Personalized diet plans
              </h4>
              <p>
                We provide personalized diet for all our members for any type of growth they need.
              </p>
              <a href="">
                Read More
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>

              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="box ">
            <div class="img-box">
              <img src="/static/images/s6.png" alt="">
            </div>
            <div class="detail-box">
              <h4>
                Perfect environment
              </h4>
              <p>
                We have necessary environment needed for your growth, here at MG Fitness.
              </p>
              <a href="">
                Read More
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>

              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endblock mainBody %}