{% extends "base.html" %}

{% load static %}

{% block title %}
Contact Us
{% endblock title %}

{% block header %}
  
{% include "nav.html" %}
  
  
  {% endblock header %}
    <!-- end slider section -->

  <!-- service section -->

  {% block mainBody %}

  <section class="contact_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Get In Touch
        </h2>
      </div>
      <div class="row">
        <div class="col-md-8 col-lg-6 mx-auto">
          <div class="form_container">
            <form action="{% url "contact_mail" %}" method="POST">


              {% csrf_token %}

              <div>
                <input type="text" placeholder="Your Name" name="name"/>
              </div>
              <div>
                <input type="email" placeholder="Your Email" name="email"/>
              </div>
              <div>
                <input type="text" placeholder="Your Phone" name="phone"/>
              </div>
              <div>
                <input type="text" class="message-box" placeholder="Message" name="message"/>
              </div>
              <div class="btn_box ">
                {% comment %} <a >  {% endcomment %}
                  <button>
                    SEND
                  </button>
                {% comment %} </a> {% endcomment %}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock mainBody %}