{% extends "base.html" %}

{% load static %}

{% block title %}
MG Fitness
{% endblock title %}




{% block header %}
{% include "header.html" %}
{% endblock header %}

  {% block mainBody %}


  {% comment %} {% block userTitle %}{{request.user}}{% endblock userTitle %} {% endcomment %}
  <section class="service_section layout_padding" id="service">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Why join us ?
        </h2>
      </div>
    </div>
    <div class="container ">
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="box ">
            <div class="img-box">
              <img src="/static/images/s1.png" alt="">
            </div>
            <div class="detail-box">
              <h4>
                Modern tools
              </h4>
              <p>
                We have all the modern necessary tools available.
              </p>
              <a href="">
                Read More
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>

              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="box ">
            <div class="img-box">
              <img src="/static/images/s2.png" alt="">
            </div>
            <div class="detail-box">
              <h4>
                Dedicated sessions for women
              </h4>
              <p>
                We provide dedicated sessions for women at noon everyday.
              </p>
              <a href="">
                Read More
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>

              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 ">
          <div class="box ">
            <div class="img-box">
              <img src="/static/images/s3.png" alt="">
            </div>
            <div class="detail-box">
              <h4>
                Experienced trainer
              </h4>
              <p>
                Here at MG Fitness you are gonna get experienced trainers for your growth.
              </p>
              <a href="">
                Read More
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>

              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="box ">
            <div class="img-box">
              <img src="/static/images/s4.png" alt="">
            </div>
            <div class="detail-box">
              <h4>
                Air conditioning
              </h4>
              <p>
                We have fully air conditioned training and body building campus.
              </p>
              <a href="">
                Read More
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>

              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="box ">
            <div class="img-box">
              <img src="/static/images/s5.png" alt="">
            </div>
            <div class="detail-box">
              <h4>
                Personalized diet plans
              </h4>
              <p>
                We provide personalized diet for all our members for any type of growth they need.
              </p>
              <a href="">
                Read More
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>

              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="box ">
            <div class="img-box">
              <img src="/static/images/s6.png" alt="">
            </div>
            <div class="detail-box">
              <h4>
                Perfect environment
              </h4>
              <p>
                We have necessary environment needed for your growth, here at MG Fitness.
              </p>
              <a href="">
                Read More
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>

              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end service section -->

  <!-- about section -->

  <section class="about_section layout_padding-bottom">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About Us
              </h2>
            </div>
            <p>
              At MG Fitness, our mission is to empower and inspire individuals of all fitness levels to lead healthier lives. We believe that fitness is not just about looking good, but about feeling strong, confident, and full of vitality. We are here to provide you with the tools, knowledge, and support to make your fitness aspirations a reality.</p>
            <a href="/about">
              Read More
            </a>
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="/static/images/indoorBike.png" alt="">
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- end about section -->


  <!-- server section -->

  <section class="server_section">
    <div class="container ">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="/static/images/server-img.jpg" alt="">
            <div class="play_btn">
              <button>
                <i class="fa fa-play" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Let us help you to improve your body.
              </h2>
              <p>
                Join us today. At MG Fitness, we're committed to helping you achieve your fitness goals and lead a healthier, more active life. Our state-of-the-art gym facility, dedicated team of experienced trainers, and a passion for promoting well-being set us apart as the ultimate fitness destination.
              </p>
            </div>
            <a href="/login">
              Join Now
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end server section -->

  <!-- price section -->

  <section class="price_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Membership plans
        </h2>
      </div>
      <div class="price_container ">
        <div class="box">
          <div class="detail-box">
            <h2>₹ <span>1000</span></h2>
            <h6>
              Monthly Membership
            </h6>
            <ul class="price_features">
              <li>
                Become a member of MG Fitness for a month.
              </li>
              {% comment %} <li>
                Access to our health related blogs.
              </li>
              <li>
                Diet plans
              </li>
              <li>
                Exercise help
              </li>
            </ul> {% endcomment %}
          </div>
          <div class="btn-box">
            <a href="price">
              Know more
            </a>
          </div>
        </div>

        <div class="box">
          <p style="color:white; background:red;">
            Most Popular
          </p>
          <div class="detail-box">
            <h2>₹ <span>2000</span></h2>
            <h6>
              3 month Membership
            </h6>
            <ul class="price_features">
              <li>
                Become a member of MG Fitness for a month.
              </li>
              
            </ul>
          </div>
          <div class="btn-box">
            <a href="price">
              Know more
            </a>
          </div>
        </div>

        <div class="box">
          <div class="detail-box">
            <h2>₹ <span>6000</span></h2>
            <h6>
              Yearly membership
            </h6>
            <ul class="price_features">
              <li>
                Become a member of MG Fitness for a month.
              </li>
              {% comment %} <li>
                Access to our health related blogs.
              </li>
              <li>
                Diet plans
              </li>
              <li>
                Exercise help
              </li>
              <li>
                A trip for all the members.
              </li>
              <li>
                24/7 support
              </li> {% endcomment %}
            </ul>
          </div>
          <div class="btn-box">
            <a href="price">
              Know more
            </a>
          </div>
        </div>

        
        
      </div>
    </div>
  </section>
  

  <br>
  <br>
  <section class="contact_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Get In Touch
        </h2>
      </div>
      <div class="row">
        <div class="col-md-8 col-lg-6 mx-auto">
          <div class="form_container">
            <form action="{% url "contact_mail" %}" method="POST">


              {% csrf_token %}

              <div>
                <input type="text" placeholder="Your Name" name="name"/>
              </div>
              <div>
                <input type="email" placeholder="Your Email" name="email"/>
              </div>
              <div>
                <input type="text" placeholder="Your Phone" name="phone"/>
              </div>
              <div>
                <input type="text" class="message-box" placeholder="Message" name="message"/>
              </div>
              <div class="btn_box ">
                {% comment %} <a >  {% endcomment %}
                  <button>
                    SEND
                  </button>
                {% comment %} </a> {% endcomment %}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endblock mainBody %}