{% extends "base.html" %}

{% load static %}

{% block title %}
Memberships
{% endblock title %}

{% block header %}
  
{% include "nav.html" %}
  
  
  {% endblock header %}
    <!-- end slider section -->

  <!-- service section -->

  {% block mainBody %}
  <!-- about section -->
  <section class="price_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Membership plans
        </h2>
      </div>
      <div class="price_container ">
        <div class="box">
          <div class="detail-box">
            <h2>₹ <span>500</span></h2>
            <h6>
              Monthly Membership
            </h6>
            <ul class="price_features">
              <li>
                Become a member of MG Fitness for a month.
              </li>
              <li>
                Access to our health related blogs.
              </li>
              <li>
                Diet plans
              </li>
              <li>
                Exercise help
              </li>
            </ul>
          </div>
          <div class="btn-box">
            <a href="">
              Purchase
            </a>
          </div>
        </div>

        <div class="box">
          <div class="detail-box">
            <h2>₹ <span>6000</span></h2>
            <h6>
              Yearly membership
            </h6>
            <ul class="price_features">
              <li>
                Become a member of MG Fitness for a month.
              </li>
              <li>
                Access to our health related blogs.
              </li>
              <li>
                Diet plans
              </li>
              <li>
                Exercise help
              </li>
              <li>
                A trip for all the members.
              </li>
              <li>
                24/7 support
              </li>
            </ul>
          </div>
          <div class="btn-box">
            <a href="">
              Purchase
            </a>
          </div>
        </div>

        <div class="box">
          <div class="detail-box">
            <h2>₹ <span>2000</span></h2>
            <h6>
              3 month Membership
            </h6>
            <ul class="price_features">
              <li>
                Become a member of MG Fitness for a month.
              </li>
              <li>
                Access to our health related blogs.
              </li>
              <li>
                Diet plans
              </li>
              <li>
                Exercise help
              </li>
            </ul>
          </div>
          <div class="btn-box">
            <a href="">
              Purchase
            </a>
          </div>
        </div>
        
      </div>
    </div>
  </section>
  {% endblock mainBody %}