{% extends "base.html" %}

{% load static %}

{% block title %}
Services
{% endblock title %}

{% block header %}
  
 {% include "nav.html" %}
  
  
{% endblock header %}
    <!-- end slider section -->

  <!-- service section -->

  {% block mainBody %}
  <!-- about section -->
  
  <section class="service_section layout_padding" style="display: grid;place-items: center;">
    <!-- <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css"> -->

    <h1 style="color: green;">Your payment was successful.</h1><br>

    <h2>Congrats, you are a member now.</h2>
    <hr>


  </section>
  {% endblock mainBody %}